body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    color: grey;
}

h1 {
    padding: 30px 0px 0px 0px;
    color: #0f0f0f;
    font-family: 'Trajan', serif;
    font-weight: 400;
    font-size: 125px;
    line-height: 78px;
    margin: 0;
    width: 100%;
    text-align: center;
}

p {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    line-height: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    margin: auto;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: transform 20s cubic-bezier(0.36, 0.03, 0.33, 1.01);
}

#square1 {
    width: 280px;
    height: 156px;
}

#square2 {
    width: 280px;
    height: 156px;
}

#square3 {
    width: 280px;
    height: 156px;
}

#square4 {
    width: 280px;
    height: 156px;
    line-height: 42px;
    font-family: 'times-new-roman', serif;
    font-size: 16px;
    color: black;
}


