body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #efefef;
}

h1 {
    padding: 30px 0px 0px 0px;
    color: #0f0f0f;
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    font-size: 125px;
    line-height: 78px;
    margin: 0;
    width: 100%;
    text-align: center;
}

p {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    line-height: 0;
}

iframe {
    border: none;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    overflow: hidden;
    margin: auto;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: transform 20s cubic-bezier(0.36, 0.03, 0.33, 1.01);
}

#square1 {
    width: 280px;
    height: 156px;
}

#square2 {
    width: 280px;
    height: 156px;
}

#square3 {
    width: 280px;
    height: 156px;
}

#square4 {
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    width: 100%;
}

#square5 {
    width: 320px;
    height: 180px;
    background-color: whitesmoke;
    border-radius: 16px;
}

a:link { 
  text-decoration: none; 
  font-weight: 900;
  color: black;

} 
a:visited { 
  text-decoration: none; 
  color: black;
} 
a:hover { 
  color: #999999;
} 
a:active { 
  text-decoration: none; 
}

